astroid==2.12.12
attrs==22.1.0
coverage==6.5.0
decoy==1.11.1
dill==0.3.6
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
mypy==0.982
mypy-extensions==0.4.3
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
pylint==2.15.5
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
tomlkit==0.11.5
typing_extensions==4.4.0
wrapt==1.14.1
